{% extends 'base.html.twig' %}
{% block body %}
				<header id="header" class="col-full">
					<div id="logo">
						<h1 class="site-title" style="margin-right:50px;display:flex;align-items:center;">Amazaun</h1>
					</div>
				</header>
{% endblock %}
