{% extends 'base.html.twig' %}
{% block body %}
				<header id="header" class="col-full">
					<div id="logo">
						<h1 class="site-title" style="margin-right:50px;display:flex;align-items:center;">Amazaun</h1>
					</div>
					<nav id="site-navigation" class="main-navigation" role="navigation">
						<button class="menu-toggle" aria-controls="site-navigation" aria-expanded="false">
							<span>Menu</span>
						</button>
						<div class="menu">
							<ul class="nav-menu">
								<li class="page_item page-item-1 current_page_item focus" >
									<form method="get" class="formSearch" action="/afficheRechercheParMotCle">
										<input name="motCle" placeholder="Rechercher un article" style="margin-right: 10px;"/>
										<button type="submit" class="searchBtn">Chercher</button>
									</form>
								</li>
								<li class="page_item page-item-2">
								<button onclick="window.location.href='/accederAuPanier'">Voir votre panier</button>
							</ul>
						</div>
					</nav>
				</header>
				<div id="content" class="col-full">
					<div id="main-sidebar-container">
						<header>
							<h1 class="title entry-title">Panier</h1>
						</header>
						<div class="woocommerce">
							<section class="entry">
								<p class="cart-empty">Votre panier est vide.</p>
							</section>
						</div>
					</div>
				</div>
{% endblock %}
